.content {
    display: flex;
    flex-wrap: wrap-reverse;
}

.content-results, .content-map {
    width: 50%;

    @include breakpoint-max(medium) {
        width: 100%;
    }
}

.content-results {
    height: 90vh;

    @include breakpoint-max(medium) {
        height: 55vh;
    }
}

#results-container {
    height: 100%;
    overflow-y: scroll;
    padding-top: 50px;
}

.content-map {
    background-color: $light-gray;

    @include breakpoint-max(medium) {
        height: 35vh;
    }
}

.content-results__heading {
    border-bottom: 1px solid $light-gray;
    position: absolute;
    width: 100%;
    background-color: white;

    h2 {
        @include heading(1.5rem);
        padding-left: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.content-results__message {
    display: flex;
    align-items: center;
    min-height: 50px;
    background-color: $ui-light-orange;
    @include heading(1.25rem);
    padding: 7.5px 15px;
}

.content-results__placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        max-width: 50%;
        height: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    p {
        @include heading-bold(1.7rem);
        text-align: center;
    }

    @include breakpoint-max(medium) {
        img {
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
}