.content {
    display: flex;
    flex-wrap: wrap-reverse;
}

.content-results, .content-map {
    width: 50%;

    @include breakpoint-max(medium) {
        width: 100%;
    }
}

.content-results {
    height: 90vh;
    display: flex; // for keeping the results header fixed to top
    flex-direction: column;

    @include breakpoint-max(medium) {
        height: 55vh;
    }
}

.content-results__heading {
    position: relative;
    background-color: $ui-light-blue;

    h2 {
        @include heading(1.5rem);
        padding-left: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.content-results__message {
    display: flex;
    align-items: center;
    min-height: 50px;
    background-color: $ui-warning-orange;
    @include heading(1.25rem);
    padding: 15px 25px;

    // hide error message box theres no error
    &:empty {
        display: none;
    }
}

.content-results__placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        max-width: 50%;
        height: auto;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    p {
        @include heading-bold(1.7rem);
        text-align: center;
    }

    @include breakpoint-max(medium) {
        img {
            margin-top: 25px;
        }
    }
}

.content-map {
    background-color: $light-gray;

    @include breakpoint-max(medium) {
        height: 35vh;
    }
}