.map-number-icon {
    text-align: center;
    background-image: url("/static/images/pin.png");
}

.map-number-icon-text {
    margin-top: 4px;
    @include heading-bold(12px); //using px here because leaflet icons are fixed size
}