.results-card {
    width: 100%;
    border-bottom: 1px solid $light-gray;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 15px;

    &:hover {
        background-color: $soft-tint;
    }
}

.results-card__primary, .results-card__details, .results-card__extras {
    width: 100%;
}

.results-card__primary {
    margin-bottom: 25px;

    h3 {
        @include heading-bold(1.55rem);
    }

    h4 {
        @include heading(1.2rem);
        color: grey;
        margin-top: 7.5px;
    }
}

.results-card__details {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.results-card__info {
    @include light-text(1.15rem);
    padding-right: 25px;
    margin-bottom: 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.results-card__extras {
    display: flex;
    justify-content: space-between;

    a {
        @include light-text(1.075rem);
        text-decoration: underline;
    }
}

.results-card__icon {
    width: 20px;
    height: auto;
    margin-right: 5px;

    @include breakpoint-max(medium) {
        height: 15px;
    }
}

