.search {
    background-color: $ui-dark-blue;
    height: 10vh;
    display: flex;
    align-items: center;

    label {
        @include heading(1.25rem);
        color: white;
    }

    @include breakpoint-max(medium) {
        label {
            text-align: center;
            display: block;
            margin-bottom: 5px;
        }
    }
}

.search-input {
    @include heading(1.15rem);
    margin-left: 10px;
    margin-right: 10px;
}

.search-input, .search-btn {
    padding: 7px 15px;
    -webkit-appearance: none;

    @include breakpoint-max(medium) {
        display: inline-block;
        padding: 3.5px 7.5px;
    }
}

.search-btn {
    background-color: $ui-mid-blue;
    border: none;
    border-radius: 25px;
    color: $blue-dark-gray;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 2px 4px $shadow-black;
    transition: 250ms all;
    @include nav-all-caps(1.15rem);

    &:hover {
        background-color: $ui-mid-blue-hover;
        // box-shadow: 0px 6px 36px -1px rgba(173,173,173,1);
    }
}