$ui-dark-blue: rgb(0, 87, 146) !default;
$ui-mid-blue: rgb(85, 205, 226) !default;
$ui-mid-blue-hover: rgb(34, 180, 206) !default;
$ui-dark-orange: rgb(255, 159, 1) !default;
$ui-light-orange: rgb(255, 205, 123) !default;
$blue-dark-gray: rgb(35, 54, 84) !default;
$shadow-black: rgb(43, 42, 42) !default;
$light-gray: rgb(199, 199, 199) !default;